<% provide(:class_text, 'office-info') %>
<% provide(:button_text, '新規追加') %>

  <h1 class="modal-title">新規拠点追加</h1>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= form_with(scope: :office, url: offices_path, local: true, method: :post) do |f| %>
            <%#= render 'shared/error_messages', object: @office %>

            <%= f.label :拠点番号, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :office_number, class: "form-control" %>
            
            <div class="work-time">
            <%= f.label :拠点名, class: "label-#{yield(:class_text)}" %>
            <%= f.text_field :office_name, class: "form-control" %>
            </div>
            
            <div class="work-time">
            <%= f.label :勤怠種類, class: "label-#{yield(:class_text)}" %>
            </div>
            <div class="office">
            <%= f.select :attendance_type, [["出 勤"],["退 勤"]], prompt: "選択してください" %>
            </div>
            
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
