<% provide(:title, 'All Users') %>
<% if params[:search] %>
 <h1>検索結果</h1>
<% else %>
 <h1>全てのユーザー</h1>
<% end %>

<div class="container">
    <%= form_with(model: @user,url:users_path, local: true, method: 'get') do |f| %>
          <div class="col-md-3 col-md-offset-7">
            <%= f.label :search, "ユーザー名検索", class: "label-search" %>  
          </div>
      <div class="form-group"> 
          <div class="col-md-3 col-md-offset-7">  
              <%= f.search_field :search, placeholder: "キーワードを入力...", class: 'form-control' %>
          </div>
      </div>
      <div class="form-group">
          <div class="col-md-2">  
            <%= f.submit "検索", :name => nil, class: "btn btn-primary btn-ms" %>
          </div>    
      </div>
    <% end %>
</div> 



<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %> ｜  
          <% else %>
            <%= user.name %>
          <% end %>
            <%= link_to "基本情報編集", edit_basic_info_user_path(user) %> ｜
          <% if current_user.admin? %>
          <% end %>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>