<% provide(:title, 'All Users') %>
<h1>全てのユーザー</h1>
<div class="search-form">
 <p>検索結果</p>
  <%= form_tag users_path, :method => 'get' do %>
  　<P style="margin: -8%;">
  　  <%= text_field_tag :search, "",placeholder:"キーワードを入力..." %><%= submit_tag '検索', :name => nil ,class: "btn btn-primary" %>
  　</P>
  <% end %>
</div>
<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-striped" id="table-users">
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %> ｜  
          <% else %>
            <%= user.name %>
          <% end %>
            <%= link_to "基本情報編集", edit_basic_info_user_path(user) %> ｜
          <% if current_user.admin? %>
          <% end %>
          <% if current_user.admin? && !current_user?(user) %>
            <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>