
<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "←", user_path(date: @first_day.prev_month), class: "btn btn-sm btn-primary" %>
        <%= l(@first_day, format: :middle) %>　時間管理表 
        <%= link_to "→", user_path(date: @first_day.next_month), class: "btn btn-sm btn-primary" %>
      </td>
      <td>
        指定勤務開始時間：<%= format_basic_info(@user.designation_duty_start_time) %><br>
        指定勤務終了時間：<%= format_basic_info(@user.designation_duty_finish_time) %>
      </td>
      <td colspan="4">基本時間：<%= format_basic_info(@user.basic_time) %></td>
      <td colspan="2">初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.employee_number %></td>
      <td colspan="2">出勤日数 : <%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

  <ul class="infomation">
    <% if @user.superior == true %>
      <% if @request_count1 != 0 %>
        <li><%=link_to "【所属長承認申請のお知らせ】", edit_one_month_request_user_attendance_path(@user), remote: true , class: "apprication-info" %>
        <div class="box1"> <%= @request_count1 %>件の通知があります</div>
      <% else %>
        <p>【所属長承認申請のお知らせ】</p>
      <% end %>
        </li>
      <% if @request_count2 != 0 %>
        <li><%=link_to "【勤怠変更申請のお知らせ】", change_of_attendance1_user_attendance_path(@user), remote: true , class: "apprication-info" %>
        <div class="box1"> <%= @request_count2 %>件の通知があります</div>
      <% else %>
        <p>【勤怠変更申請のお知らせ】</p>
      <% end %>
        </li>
      <% if @request_count3 != 0 %>
        <li><%=link_to "【残業申請のお知らせ】", edit_overtime_request_superior_user_attendance_path(@user), remote: true, class: "apprication-info" %>
        <div class="box1"> <%= @request_count3 %>件の通知があります</div>
      <% else %>  
        <p>【残業申請のお知らせ】</p>
      <% end %>
        </li>
    <% end %>
  </ul> 

<div class="btn-users-show">
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  <%= link_to "CSV 出力", csv_output_user_attendance_path(@user.attendances, date: @first_day, format: :csv), class: "btn btn-primary" %><br>
  <div class="col-md-2 col-xs-3">
  <%= link_to "勤怠修正ログ (承認済)", designation_log_user_attendance_path(@user), class: "btn btn-block btn-primary" %>
  </div>
</div>

<div>
  <table class="table table-bordered table-condensed table-striped" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="7">【実績】</th>
        <th colspan="8">所定外勤務</th>
      </tr>
      <tr>
        <th colspan="3">出社</th>
        <th colspan="2">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2">指示者確認㊞</th>
      </tr>  
      <tr>
        <th>時</th>
        <th>分</th>
        <td style="width: 10%"></td>
        <th>時</th>
        <th>分</th>
        <th>時</th>
        <th>分</th>
      </tr>  
    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td><%= link_to "残業申請", edit_overtime_request_user_attendance_path(@user, day), remote: true, class: "btn btn-primary" %></td>
          <td><%= l(day.worked_on, format: :short) %></td>   
          <td>
            <% $days_of_the_week[day.worked_on.wday] %>
            <% if day.worked_on.wday == 6 %>
            <font color="#00f"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% elsif day.worked_on.wday == 0 %>
            <font color="#f00"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% else %>
            <font color="#000"><%= $days_of_the_week[day.worked_on.wday] %></font>
            <% end %>
          </td>    
          <td>
            <% if day.edit_status == "承認" %>
            <%= l(day.begintime_at, format: :time_hour) if day.begintime_at.present? %>
            <% else %>
            <%= l(day.started_at, format: :time_hour) if day.started_at.present? %>
            <% end %>
          </td>
          <td>
            <% if day.edit_status == "承認" %>
            <%= l(day.begintime_at.floor_to(15.minutes),format: :time_minute) if day.begintime_at.present? %>
            <% else %>
            <%= l(day.started_at.floor_to(15.minutes),format: :time_minute) if day.started_at.present? %>
            <% end %>
          </td>
          <td style="width: 10%" "height: 10%">
          　<% if btn_text = attendance_state(day) %>
          　<%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-block btn-sm btn-primary btn-attendance" %>
   　　　  　　 <% end %>
          </td>
          <td>
            <% if day.edit_status == "承認" %>
            <%= l(day.endtime_at, format: :time_hour) if day.endtime_at.present? %>
            <% else %>
            <%= l(day.finished_at, format: :time_hour) if day.finished_at.present? %>
            <% end %>
          </td>
          <td>
            <% if day.edit_status == "承認" %>
            <%= l(day.endtime_at.floor_to(15.minutes),format: :time_minute) if day.endtime_at.present? %>
            <% else %>
            <%= l(day.finished_at.floor_to(15.minutes),format: :time_minute) if day.finished_at.present? %>
            <% end %>
          </td>
          <td>
            <% if day.edit_status == "承認" %>
              <% if day.begintime_at.present? && day.endtime_at.present? %>
                <%= worktimes(day.begintime_at.floor_to(15.minutes), day.endtime_at.floor_to(15.minutes), day.worked_on) %>
              <% end %>
            <% else %>
              <% if day.started_at.present? && day.finished_at.present? %>
                <%= working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes)) %>
              <% end %>
            <% end %> 
          </td>
          <td><%= day.note %></td>
          <td><%= l(day.work_end_time, format: :time_hour) if day.work_end_time.present? %></td>
          <td><%= l(day.work_end_time.floor_to(15.minutes),format: :time_minute) if day.work_end_time.present? %></td>
          <td>
              <% if day.work_end_time.present? %>
              <%= overtime(day.work_end_time, @user.designation_duty_finish_time, day.worked_on, @user.id) %>
              <% end %>
          </td>
          <td><%= day.job_description %></td>
          <td style="width: 15%">
            <% if day.overtime_status == "申請中" %> 
              <p><%= User.find(day.overtime_authorizer).name %>へ残業申請中</p>
            <% elsif day.overtime_status == "承認" %>
              <p>残業申請承認</p>
            <% elsif day.overtime_status == "否認" %>
              <p>残業申請否認</p>
            <% end %>
            <% if day.edit_status == "申請中" %>
              <p><%= User.find(day.edit_authorizer).name %>へ勤怠申請中</p>
            <% elsif day.edit_status == "承認" %>
              <p>勤怠編集承認</p>
            <% elsif day.edit_status == "否認" %>
              <p>勤怠編集否認</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
        <tr>
          <td></td>
          <td colspan="2"></td>
          <td colspan="5"></td>
          <td><%= format("%.2f", @total_working_times.to_f) %></td>
          <td colspan="5"></td>
          <td>
            <% if @user.attendances.find_by(month_req_status: "承認", worked_on: @first_day)%>
            <p><%= User.find(@attendances[0]["month_req_authorizer"]).name %>より承認済</p>
            <% elsif  @user.attendances.find_by(month_req_status: "申請中", worked_on: @first_day) %>
            <p><%= User.find(@attendances[0]["month_req_authorizer"]).name %>へ申請中</p>
            <% elsif  @user.attendances.find_by(month_req_status: "否認", worked_on: @first_day) %>
            <p><%= User.find(@attendances[0]["month_req_authorizer"]).name %>より否認</p>
            <% else %>
            <p>所属長承認　未</p>
            <% end %>
              <%= form_with(model: @attendance, url: user_update_one_month_application_path(@user), local: true, method: :patch) do |f| %>
                <%= f.fields_for :attendance do |i| %>
                  <%= i.hidden_field :apply_month, :value => @first_day %>
                  <%= i.select :month_req_authorizer, options_from_collection_for_select(@instructor, :id, :name , 1), {include_blank: true}, :required => true %>
                <% end %>
                <div class="Approval">
                  <%= f.submit "申請", class: "btn btn-block btn-primary" %>
                </div>
              <% end %>
          </td>
        </tr>
    </tfoot>
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-overtime-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-overtime-request-superior" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="change-of-attendance1" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit-one-month-request" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

