<% provide(:class_text, 'change_of_attendance1') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
     
       
    </div>
    
     
       <div class="modal-body">
          <%= form_with(model: @attendance, url: change_of_attendance1_request_user_attendance_path(@user), local: true, method: :patch) do |f| %>
            <%= render 'shared/error_messages', object: @user %>
            
            
            <% @users.each do |user| %>
              <table class="table table-bordered" id="table-attendances">
               <h2 class="modal-title">【<%=user.name %>からの勤怠変更申請】</h2> 
                <thead>
                  <tr>
                    <th rowspan="3">日付</th>
                    <th rowspan="3">曜日</th>
                    <th colspan="4">変更前</th><th colspan="4">変更後</th>
                    <th rowspan="3">備考</th>
                    <th rowspan="3">指示者確認㊞</th>
                    <th rowspan="3">変更</th>
                    <th rowspan="3">勤怠を確認する</th>
                  </tr>
                  <tr>
                    <th colspan="2">出社</th><th colspan="2">退社</th><th colspan="2">出社</th><th colspan="2">退社</th>
                  </tr>
                  <tr>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th>
                    <th>時</th>
                    <th>分</th> 
                  </tr>
                </thead>  
                <tbody
                  <% @attendance.each do |att_notice| %>
                  <% if att_notice.user_id == user.id %>
                    <tr>
                      <td><%= l(att_notice.worked_on, format: :short) %></td>
                      <td>
                       <% $days_of_the_week[att_notice.worked_on.wday] %>
                       <% if att_notice.worked_on.wday == 6 %>
                       <font color="#00f"><%= $days_of_the_week[att_notice.worked_on.wday] %></font>
                       <% elsif att_notice.worked_on.wday == 0 %>
                       <font color="#f00"><%= $days_of_the_week[att_notice.worked_on.wday] %></font>
                       <% else %>
                       <font color="#000"><%= $days_of_the_week[att_notice.worked_on.wday] %></font>
                       <% end %>
                       </td>
                      <td><%= l(att_notice.started_at, format: :time_hour) if att_notice.started_at.present? %></td>
                      <td><%= l(att_notice.started_at.floor_to(15.minutes),format: :time_minute) if att_notice.started_at.present? %></td>
                      <td><%= l(att_notice.finished_at, format: :time_hour) if att_notice.finished_at.present? %></td>
                      <td><%= l(att_notice.finished_at.floor_to(15.minutes),format: :time_minute) if att_notice.finished_at.present? %></td>
                      <td><%#= l(day.work_end_time.floor_to(15.minutes),format: :time_minute) %></td>
                      <td><%#= l(day.work_end_time.floor_to(15.minutes),format: :time_minute) %></td>
                      <td><%#= l(day.work_end_time, format: :time_hour) %></td>
                      <td><%#= l(day.work_end_time.floor_to(15.minutes),format: :time_minute) %></td>
                      <td><%= att_notice.note %></td>
                      <td><%= f.select :request, [["選択してください"],["なし",1],["申請中",2],["承認",3],["否認",4]]%></td>
                      <td><%= f.check_box :change %></td>
                      <td><%= link_to "確認", check_show_user_path(att_notice.user, date: @first_day), :target=>["_blank"], class: "btn btn-primary" %></td>
                    </tr>
                  <% end %>  
                  <% end %>
                </tbody>
              </table>
            <% end %>  

              
                
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-md btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>  
       </div>
  </div>
</div>