<% provide(:class_text, 'overtime-request') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
       <div class="modal-body">
          <%= form_with(model: @attendances, url: update_overtime_request_superior_user_attendance_path(@user), local: true, method: :patch) do |f| %>
            <%= render 'shared/error_messages', object: @user %>
               <% @users.each do |user| %> 
              <table class="table table-bordered" id="table-attendances">
                <thead>
                  <p class="overtime-title">【<%=user.name %>からの残業申請】</p>
                  <tr>
                    <th>日付</th>
                    <th>曜日</th>
                    <th>終了予定時間</th>
                    <th>指定勤務終了時間</th>
                    <th>時間外時間</th>
                    <th>業務処理内容</th>
                    <th>指示者確認㊞</th>
                    <th>変更</th>
                    <th>勤怠を確認する</th>
                  </tr
                </thead>  
                <tbody>
                 <% @attendances.each do |att| %>
                   <%= f.fields_for "attendance[]", att do |i| %> 
                     <%= i.hidden_field :id, :value => att.id %> <!-- attendancesテーブルのidを渡す -->
                     <%= i.hidden_field :user_id, :value => user.id %>
                   <% if att.user_id == user.id %> 
                    <tr>
                      <td><%= l(att.worked_on, format: :short) %></td>
                      <td>
                        <% $days_of_the_week[att.worked_on.wday] %>
                        <% if att.worked_on.wday == 6 %>
                        <font color="#00f"><%= $days_of_the_week[att.worked_on.wday] %></font>
                        <% elsif att.worked_on.wday == 0 %>
                        <font color="#f00"><%= $days_of_the_week[att.worked_on.wday] %></font>
                        <% else %>
                        <font color="#000"><%= $days_of_the_week[att.worked_on.wday] %></font>
                        <% end %>
                      </td>
                      <td><%= l att.work_end_time, format: :time %></td>
                      <td><%= format_basic_info(user.designation_duty_finish_time) %></td>
                      <td>
                          <% if att.work_end_time.present? %>
                          <%= overtime(att.work_end_time, user.designation_duty_finish_time, att.worked_on, user.id) %>
                          <% end %>
                      </td>
                      <td><%= att.job_description %></td>
                      <td><%= i.select :overtime_status, [["なし"],["申請中"],["承認"],["否認"]] %></td>
                      <td><%= i.check_box :remember, {}, "true", "false" %></td>
                      <td><%= link_to "確認", check_show_user_path(att.user_id, date: att.worked_on.beginning_of_month), :target=>["_blank"], class: "btn btn-primary" %></td>
                    </tr>
                   <% end %>  
                  <% end %> 
                 <% end %>
                </tbody>
              </table>
              <% end %>
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-md btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>
       </div>
       <h2>＊承認、又は否認する場合は変更にチェックを入れてください</h2>
  </div>
</div>