<% provide(:class_text, 'one_month_request') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <%= form_with(model: @user, url: update_one_month_request_user_attendance_path(@user), local: true, method: :patch) do |f| %>
          <%= render 'shared/error_messages', object: @user %>
            <% @users.each do |user| %> 
              <table class="table table-bordered" id="table-attendances">
                <thead>
                  <p class="one_month-title">【<%=user.name %>からの1ヶ月分勤怠申請】</p>
                <table class="table table-bordered" id="table-attendances">
                <thead>
                  <tr>
                    <th>月</th>
                    <th>指示者確認㊞</th>
                    <th>変更</th>
                    <th>勤怠を確認する</th>
                  </tr>
                </thead>  
                <tbody>
                <% @attendances.each do |apply| %>
                  <%= f.fields_for "attendances[]", apply do |i| %> 
                    <% if apply.user_id == user.id %> 
                      <tr>
                        <td><%= l(apply.worked_on, format: :half) %></td>
                        <td><%= i.select :month_req_status, [["なし"],["申請中"],["承認"],["否認"]] %></td>
                        <td><%= i.check_box :verify, {}, "true", "false" %></td> 
                        <td><%= link_to "確認", check_show_user_path(apply.user, woked_on: @first_day), :target=>["_blank"], class: "btn btn-primary" %></td>
                      </tr>
                    <% end %>
                  <% end %> 
                <% end %>
                </tbody>
              </table> 
            <% end %>  
              <div class="center">
                <%= f.submit yield(:button_text), class: "btn btn-md btn-primary btn-#{yield(:class_text)}" %>
              </div>
        <% end %>
    </div>
  </div>
</div>