<% provide(:class_text, 'overtime-request') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
       <h1 class="modal-title">【残業申請】</h1>
    </div>
    <div class="modal-body">
          <%= form_with(model: @attendance, url: update_overtime_request_user_attendance_path(@user), local: true, method: :patch) do |f| %>
            <%= render 'shared/error_messages', object: @user %>
            
              <table class="table table-bordered" id="table-attendances">
                <thead>
                  <tr>
                    <th>日付</th>
                    <th>曜日</th>
                    <th>終了予定時間</th>
                    <th>翌日</th>
                    <th>業務処理内容</th>
                    <th>指示者確認㊞</th>
                  </tr>
                </thead>  
                <tbody>
                  <tr>
                    <td><%= l(@attendance.worked_on, format: :short) %></td>
                    <td>
                      <% $days_of_the_week[@attendance.worked_on.wday] %>
                      <% if @attendance.worked_on.wday == 6 %>
                       <font color="#00f"><%= $days_of_the_week[@attendance.worked_on.wday] %></font>
                      <% elsif @attendance.worked_on.wday == 0 %>
                       <font color="#f00"><%= $days_of_the_week[@attendance.worked_on.wday] %></font>
                      <% else %>
                       <font color="#000"><%= $days_of_the_week[@attendance.worked_on.wday] %></font>
                      <% end %>
                    </td>
                    <td><%= f.time_field:work_end_time, :required => true, class: "form-control" %></td>
                    <td><%= f.check_box :day_after %></td>
                    <td><%= f.text_field :job_description, :required => true, :size=>"35" %></td>
                    <td><%= f.select :overtime_authorizer, options_from_collection_for_select(@instructor, :id, :name , 1), {include_blank: true}, :required => true %></td>
                  </tr>
                </tbody>
              </table>    
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>
    </div>
  </div>
</div>