<% provide(:class_text, 'one_month_request') %>
<% provide(:button_text, '変更を送信する') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
          <%= form_with(model: @attendance, url: update_one_month_request_user_attendance_path(@user), local: true, method: :patch) do |f| %>
            <%#= render 'shared/error_messages', object: @user %>
            
              <table class="table table-bordered" id="table-attendances">
                <h2 class="modal-title">【1ヶ月分勤怠申請】</h2>
                <thead>
                  <tr>
                    <th>月</th>
                    <th>指示者確認㊞</th>
                    <th>変更</th>
                    <th>勤怠を確認する</th>
                  </tr>
                </thead>  
                <tbody>
                  <tr>
                    <td><%= l(@first_day, format: :half) %></td>
                    <td><%= f.select :request1, [["なし",1],["申請中",2],["承認",3],["否認",4]], {selected: 2} %></td>
                    <td><%= f.check_box :change %></td> 
                    <td><%#= link_to "確認", check_show_user_path(attendance.user, date: @first_day), :target=>["_blank"], class: "btn btn-primary" %></td>
                  </tr>
                </tbody>
              </table>    
            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-md btn-primary btn-#{yield(:class_text)}" %>
            </div>
          <% end %>
　　　</div>
  </div>
</div>