<h1>勤怠ログ（承認済）</h1>
  <div class = "container">
        <form>
          <input id="button01" type="button" value="リセット">
          <script>
            $(function(){
              $("#button01").click(function() {
                $("#log").hide();
              });
            });
          </script>
          <div class = "date_time">
            <%= search_form_for @search, url:designation_log_user_attendance_path do |f| %>
            <%= f.date_select :worked_on_eq, {prompt: {year: "年", month: "月"}, discard_day: true, start_year:Time.now.year, end_year:Time.now.year+10}, :required => true, class: "form-control" %>
            <%= f.submit "検索", class: "btn btn-primary btn-block" %>
            <% end %> 
            
          </div>  
        </form>
      <table class="table table-bordered" id="table-attendances">
        <thead>
        <tr>
          <th>日付</th>
          <th>変更前出社時間</th>
          <th>変更前退社時間</th>
          <th>変更後出社時間</th>
          <th>変更後退社時間</th>
          <th>指示者</th>
          <th>承認日</th>
        </tr>
       </thead>
      <tbody id="log">
          <% if @search.result.present? %>
          <% @attendances.each do |desig_log| %>
        <tr>
          　<td><%= l(desig_log.worked_on, format: :default) %></td>
          　<td><%= l(desig_log.started_at, format: :time) if desig_log.started_at.present? %></td>
          　<td><%= l(desig_log.finished_at, format: :time) if desig_log.finished_at.present? %></td>
          　<td><%= l(desig_log.begintime_at,  format: :time) if desig_log.begintime_at.present? %></td>
          　<td><%= l(desig_log.endtime_at,  format: :time) if desig_log.endtime_at.present? %></td>
          　<td><%= User.find(desig_log.edit_authorizer).name %></td>
          　<td><%= l(desig_log.updated_at, format: :half) if desig_log.updated_at.present? %></td>
        </tr>
           <% end %>
           <% else %>
           <h2 class="log">勤怠ログはありません</h2>
          <% end %>
      </tbody>
    </table>
    <div class="center">
      <%= link_to "戻る", user_path(date: @first_day), class: "btn btn-default btn-primary" %> 
      </div>
  </div>